/* General footer styling */
footer {
    background-color: #05052C; /* Dark background for contrast */
    color: white; /* White text for readability */
    text-align: center; /* Center the text */
    padding: 20px; /* Add some space around the text */
    position: relative;
    bottom: 0;
    max-width: 100%;
    font-size: 2rem;
    margin-top: 1rem; /* Space above the footer */
  }
  
  /* Styling for the copyright text */
  footer p {
    margin: 0;
    font-size: 1rem;
    color: #ffffff; /* Light gray color for the text */
  }
  
  /* Responsive design adjustments */
  @media screen and (max-width: 768px) {
    footer {
      padding: 15px; /* Reduce padding on smaller screens */
    }
  
    footer p {
      font-size: 1rem; /* Smaller text on mobile */
    }
  }
  