/* General styling for the register section */
#register {
    border: #09BE67 2px solid;
    max-width: 900px; /* Sets the maximum width of the form */
    margin: 3rem auto; /* Centers the form on the page */
    padding: 2rem;
    background-color: #05052C; /* White background for the form */
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(138, 240, 163, 0.322);
}

#register h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem; /* Adds space between heading and form */
}

.FullNames, .IdNumber, .passwordR, .emailR{
    background-color: #05052C;
    border: #09BE67 2px solid;
    width: 860px;
    color: #fff;
    border-radius: 5px;
}

select {
    width: 890px;
    padding: 0.75rem;
    background-color: #05052C;
    border: #09BE67 2px solid;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
}

select {
    cursor: pointer;
}

input:focus,
select:focus {
    border: #fff 2px solid;
    border-color: #09BE67; /* Highlight color when focused */
}

.register-button {
    width: 890px;
    padding: 0.75rem;
    background-color: #09BE67; /* Button color */
    color: #fff; /* Button text color */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
   
}

.register-button:hover {
    background-color: #068547; /* Darker shade on hover */
    border: #09BE67 2px solid;
}

.error {
    color: #d9534f; /* Red color for error messages */
    font-size: 0.875rem;
    margin-top: -1rem; /* Moves error message closer to the input */
}

@media (max-width: 600px) {
    #register {
        padding: 1.5rem;
        margin: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1rem;
    }

    input,
    select {
        padding: 0.5rem;
    }
}

